
:root {
  --primario:   #4734ED;
  --secundario: #0FA3B1;
  --fondo:      #F1F2F9;
  --fondo-alt:  #7293A0;
  --texto:      #1B1B1E;
  --texto-alt:  #373F51;
  --bs-primary: #4734ED;
}

*{
  color: var(--texto);
}


.nav-custom {
    position: relative;
    padding: 1em;
  }
  
  .nav__pointer {
    z-index: 1;
    position: absolute;
    top: 0.6em;
    left: 1em;
    background-color: var(--secundario);
    height: 1.8em;
    transition: transform 0.25s ease-in-out;
    border-radius: 0.3em;
    will-change: transform;
    backface-visibility: hidden;
  }
  
  .nav__list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  /* Decoration styles */
  
  body,
  html {
    height: 100vh;
    min-height: 320px;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  nav {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: #f5f5f5;
    display: block;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    font-weight: 600;
    user-select: none;
  }
  
  a,
  a:visited {
    color: #1d1d1d;
  }

body, html{
  height: 100%;
  background-color: var(--fondo);
 
}

h2{
  color: var(--texto-alt);
}


.cstiker{
  width:120px;
  height:120px;
}
.projectile{
  background-color:var(--secundario);
  border-radius:5px;
  color:white;
}
.contacttile{
  margin-bottom:20px;
  background-color:grey;
  margin-right:8%;
  margin-left:6%;
  border-radius:5px;
  color:white;
}
.tittle1{
  color:black;
  font-size:3em;
  font-family: 'Merriweather';
}
#mynavbaritem{
  margin-top:15px;
  position: relative; 
  padding-left:30px;
  border-radius:5px;
  
}


.nav{
  background-color:gray;
  text-align:center;
}
.text{
  color:white;
}

 

.portafolio{
  margin-top:30px;
  margin-left:5%;
  margin-right:5%;

  
}
.grid{
  align-content: flex-end;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.card-title{
  text-align: center;
  
}

.btn{
  flex: center;
}

 
 
 .header{
 height: 55em;
  background-image:url("../img/fondo1.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 

 }
header,h1{
  text-align: center;
}

.btn-primary{
    background-color: var(--primario);
}

.btn{
  color: white !important;
  border: none;
}
footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

footer a {
  color: black;
  padding-left: 10px;
}


.copyright {
  color:var(--texto);
}
.img{
  float: left;
}
